.product-view .gallery {
	width: 55%;
	padding-right: 24px;
}

.product-view .details {
	width: 45%;
}

.product-view .category,
.product-view .slugs,
.product-view .description,
.product-view .items,
.product-view .specs {
	margin-top: 1.5rem;
}

.product-view h2,
.product-view h4 {
	margin-bottom: 4px;
}

.product-view h2 {
	line-height: 2rem;
}

.product-view .controls button {
	margin-left: 16px;
}

@media (max-width: 1400px) {
}

@media (max-width: 992px) {
	.product-view .gallery {
		width: 50%;
	}

	.product-view .details {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.product-view {
		display: block;
	}

	.product-view .gallery,
	.product-view .details {
		width: 100%;
	}

	.product-view .gallery {
		padding: 0px;
	}

	.product-view .details {
		margin-top: 32px;
	}
}

@media (max-width: 576px) {
}
