.item {
	display: block;
	overflow: hidden;
	padding: 12px 24px 12px 12px;
	border-radius: 16px;
	border: 1px solid var(--light-72);
	transition: var(--transition);
	margin-bottom: 16px;
}

.item:last-child {
	margin-bottom: 0px;
}

.item:hover {
	background-color: var(--light-72);
	transition: var(--transition);
}

.item .info {
	width: 80%;
}

.item .info .data {
	margin-left: 16px;
}

.item .resume {
	width: 20%;
	text-align: end;
}

.item .resume h3 {
	margin: 0px;
}
