.item {
	display: block;
	overflow: hidden;
	padding: 12px 24px 12px 12px;
	border-radius: 16px;
	border: 1px solid var(--light-72);
	transition: var(--transition);
	margin-bottom: 16px;
}

.item:last-child {
	margin-bottom: 0px;
}

.item:hover {
	background-color: var(--light-72);
	transition: var(--transition);
}

.item .miniature {
	width: 160px;
	height: 160px;
	border-radius: 16px;
	overflow: hidden;
}

.item .info {
	width: 80%;
}

.item .info .data {
	margin-left: 24px;
}

.item .info .data h3 {
	margin-bottom: 16px;
}

.item .info .data h4 {
	margin-bottom: 8px;
}

.item .info .data h4:last-of-type {
	margin-bottom: 16px;
}

.item .resume {
	width: 20%;
	text-align: end;
}

.item .resume h3 {
	margin: 0px;
}

@media (max-width: 576px) {
	.item .miniature {
		min-width: 80px;
		height: 160px;
	}
}
