:root {
	--default: #666666;
	--default-24: rgba(102, 102, 102, 0.24);
	--default-48: rgba(102, 102, 102, 0.48);
	--default-72: rgba(102, 102, 102, 0.72);
	--dark: #121212;
	--dark-24: rgba(18, 18, 18, 0.24);
	--dark-48: rgba(18, 18, 18, 0.48);
	--dark-72: rgba(18, 18, 18, 0.72);
	--black: #000000;
	--black-24: rgba(0, 0, 0, 0.24);
	--black-48: rgba(0, 0, 0, 0.48);
	--black-72: rgba(0, 0, 0, 0.72);
	--black: #000000;
	--black: #000000;
	--white: #ffffff;
	--white-24: rgba(255, 255, 255, 0.24);
	--white-48: rgba(255, 255, 255, 0.48);
	--white-72: rgba(255, 255, 255, 0.72);
	--light: #f4f4f4;
	--light-24: rgba(244, 244, 244, 0.24);
	--light-48: rgba(244, 244, 244, 0.48);
	--light-72: rgba(244, 244, 244, 0.72);
	--horizontal-spacing: 96px;
	--vertical-spacing: 24px;
	--shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.24);
	--transition: all ease 500ms;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: var(--light);
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--default);
}

p {
	font-size: 1rem;
	line-height: 1.24rem;
	color: var(--default);
}

a {
	text-decoration: none;
}

body {
	background-color: var(--white);
}

.flex {
	display: flex;
	height: 100%;
	width: 100%;
}

.flex.ai-top {
	align-items: top;
}

.flex.ai-center {
	align-items: center;
}

.flex.jc-space-between {
	justify-content: space-between;
}

.flex.jc-start {
	justify-content: start;
}

.flex.jc-center {
	justify-content: center;
}

.overflow-hidden {
	overflow: hidden;
}

.round img {
	border-radius: 100%;
}

.shadow {
	box-shadow: var(--shadow);
}

img {
	display: block;
	width: 100%;
}

.sku {
	font-size: 0.75rem;
	font-weight: 300;
	color: var(--default);
}

.row {
	padding-top: 48px;
}

.row .row {
	padding-top: 0px;
}

.stats {
	overflow: hidden;
}

.stats .icon-area,
.stats .chip {
	float: left;
}

.stats .chip {
	margin-top: 11px;
}

.mg-b {
	margin-bottom: 1.4rem;
}

@media (max-width: 1400px) {
	:root {
		--horizontal-spacing: 24px;
		--vertical-spacing: 32px;
	}

	.card.category .data {
		padding: 12px 0px;
	}
}

@media (max-width: 992px) {
	.row {
		padding-top: 24px;
	}
}

@media (max-width: 768px) {
	:root {
		--horizontal-spacing: 24px;
		--vertical-spacing: 24px;
	}
}

@media (max-width: 576px) {
}
