::-webkit-scrollbar {
	width: 8px;
	background-color: var(--light);
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--default);
}

.flex {
	display: flex;
	height: 100%;
	width: 100%;
}

.flex.ai-top {
	align-items: top;
}

.flex.ai-center {
	align-items: center;
}

.flex.jc-space-between {
	justify-content: space-between;
}

.flex.jc-start {
	justify-content: start;
}

.flex.jc-center {
	justify-content: center;
}

.overflow-hidden {
	overflow: hidden;
}

.round img {
	border-radius: 100%;
}

.shadow {
	box-shadow: var(--shadow);
}

img {
	display: block;
	width: 100%;
}

.sku {
	font-size: 0.75rem;
	font-weight: 300;
	color: var(--default);
}

.row {
	padding-top: 48px;
}

.row .row {
	padding-top: 0px;
}

.stats {
	overflow: hidden;
}

.stats .icon-area,
.stats .chip {
	float: left;
}

.stats .chip {
	margin-top: 11px;
}

.mg-b {
	margin-bottom: 1.4rem;
}

@media (max-width: 1400px) {
	:root {
		--horizontal-spacing: 24px;
		--vertical-spacing: 32px;
	}

	.card.category .data {
		padding: 12px 0px;
	}
}

@media (max-width: 992px) {
	.row {
		padding-top: 24px;
	}
}

@media (max-width: 768px) {
	:root {
		--horizontal-spacing: 24px;
		--vertical-spacing: 24px;
	}
}

@media (max-width: 576px) {
}
